{% extends 'base.html.twig' %}

{% block body %}

    <header id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active bg-membresias-1">
                <div class="container carousel-container-item">
					<div class="col-md-8">
						<h1 class="display-4 fw-bold fw-white poppins-bold">GO DATA acceso rápido y conﬁable a las oportunidades de mercado</h1>
                        <hr class="fw-white" />
						<p class="lead my-4 fw-white cringe-medium">
                            A través de nuestra plataforma podrás realizar análisis espaciales de  la zona de interés , visualizar datos y ubicaciones y tener un
                            entendimiento claro del comportamiento en ella.
						</p>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
					</div>
				</div>
            </div>
            <div class="carousel-item bg-membresias-1">
                <div class="container carousel-container-item">
					<div class="col-md-8">
						<h1 class="display-4 fw-bold fw-white poppins-bold">GO DATA acceso rápido y conﬁable a las oportunidades de mercado</h1>
                        <hr class="fw-white" />
						<p class="lead my-4 fw-white cringe-medium">
                            A través de nuestra plataforma podrás realizar análisis espaciales de  la zona de interés , visualizar datos y ubicaciones y tener un
                            entendimiento claro del comportamiento en ella.
						</p>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
					</div>
				</div>
            </div>
        </div>
    </header>

    <main class="container pt-5 pb-5">
        <h3 class="fw-bolder my-5 havelock-bold pt-5">EXPERTISE</h3>
        <div class="row mb-5">
            <div class="col-md-6 mar-responsive mb-5">
                <div class="card h-100">
                    <div class="overflow">
                        <img src="{{asset("assets/img/cards_index.png")}}" class="img-fluid" alt="imagen de relleno">
                    </div>
                    <div class="card-body">
                        <p class="cringe"> 
                            Análisis en segundos del panorama sociodemográﬁco, inmobiliario y espacial de la zona de interés
                            No cuentas con un terreno o activo? Nosotros te brindaos información para ubicar el sitio ideal.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mar-responsive mb-5">
                <div class="card h-100">
                    <div class="overflow">
                        <img src="{{asset("assets/img/cards_index.png")}}" class="img-fluid" alt="imagen de relleno">
                    </div>
                    <div class="card-body">
                        <p class="cringe"> 
                            Análisis en segundos del panorama sociodemográﬁco, inmobiliario y espacial de la zona de interés
                            No cuentas con un terreno o activo? Nosotros te brindaos información para ubicar el sitio ideal.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- circulos -->
        <div class="row mb-5">
            <div class="col-lg-4 text-center">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                
                <h2 class="havelock-bold">+7.5MM M2</h2>
                <p class="cringe">De análisis de desarrollo inmobiliario</p>
            </div>
            <div class="col-lg-4 text-center">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                
                <h2 class="havelock-bold">+150 CASOS</h2>
                <p class="cringe">En 25 ciudades de LATAM</p>
            </div>
            <div class="col-lg-4 text-center">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                
                <h2 class="havelock-bold">1,000,000 M2</h2>
                <p class="cringe">En proceso de desarrollo</p>
            </div>
            <div class="col-lg-4 text-center">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                
                <h2 class="havelock-bold">+500</h2>
                <p class="cringe">Capas de información integrada</p>
            </div>
            <div class="col-lg-4 text-center">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                
                <h2 class="havelock-bold">+300</h2>
                <p class="cringe">Usuarios activos en software de estimación de ventas online</p>
            </div>
            <div class="col-lg-4 text-center">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                
                <h2 class="havelock-bold">+1,000</h2>
                <p class="cringe">Reportes de estimación de ventas</p>
            </div>
        </div>
        <!-- EQUIPO -->
        <h3 class="my-5 havelock-bold pt-5">equipo</h3>
        <div class="row row-cols-1 row-cols-md-3 text-center mb-5">
            <div class="col">
                <div class="__cont__card p-5">
                    <div class="__cont__ele">
                        <img class="mb-5" src="{{asset("assets/img/cards_index.png")}}" alt="">
                        <p class="cringe text-center">
                            Análisis en segundos del panorama sociodemográfico, inmobiliario y espacial de la zona de interés
                            No cuentas con un terreno o activo? Nosotros te brindaos información para ubicar el sitio ideal.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="__cont__card p-5">
                    <div class="__cont__ele">
                        <img class="mb-5" src="{{asset("assets/img/cards_index.png")}}" alt="">
                        <p class="cringe text-center">
                            Análisis en segundos del panorama sociodemográfico, inmobiliario y espacial de la zona de interés
                            No cuentas con un terreno o activo? Nosotros te brindaos información para ubicar el sitio ideal.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="__cont__card p-5">
                    <div class="__cont__ele">
                        <img class="mb-5" src="{{asset("assets/img/cards_index.png")}}" alt="">
                        <p class="cringe text-center">
                            Análisis en segundos del panorama sociodemográfico, inmobiliario y espacial de la zona de interés
                            No cuentas con un terreno o activo? Nosotros te brindaos información para ubicar el sitio ideal.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row row-cols-1 row-cols-md-3 text-center">
            <div class="col">
                <div class="__cont__card p-5">
                    <div class="__cont__ele">
                        <img class="mb-5" src="{{asset("assets/img/cards_index.png")}}" alt="">
                        <p class="cringe text-center">
                            Análisis en segundos del panorama sociodemográfico, inmobiliario y espacial de la zona de interés
                            No cuentas con un terreno o activo? Nosotros te brindaos información para ubicar el sitio ideal.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="__cont__card p-5">
                    <div class="__cont__ele">
                        <img class="mb-5" src="{{asset("assets/img/cards_index.png")}}" alt="">
                        <p class="cringe text-center">
                            Análisis en segundos del panorama sociodemográfico, inmobiliario y espacial de la zona de interés
                            No cuentas con un terreno o activo? Nosotros te brindaos información para ubicar el sitio ideal.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="__cont__card p-5">
                    <div class="__cont__ele">
                        <img class="mb-5" src="{{asset("assets/img/cards_index.png")}}" alt="">
                        <p class="cringe text-center">
                            Análisis en segundos del panorama sociodemográfico, inmobiliario y espacial de la zona de interés
                            No cuentas con un terreno o activo? Nosotros te brindaos información para ubicar el sitio ideal.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        
    </main>
    
    {{ include('footer.html.twig') }}

{% endblock %}